repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/tekwizely/pre-commit-golang
# See 'pre-commit help autoupdate'
  rev: v1.0.0-rc.2
  hooks:
  - id: go-fmt
  - id: golangci-lint
    args: ["--fix"]
